# Byte-compiled / optimized / DLL files
*.sh
config.cfg
__pycache__/
**.py[cod]
*$py.class
logs/**
!logs/.gitkeep
screenshots/*.jpg
screenshots/*.png
server/uploads/*
!server/uploads/.gitkeep
server/files/*
!server/files/.gitkeep
server/payloads/*.py
!server/payloads/.gitkeep
!server/payloads/invoke_mimikatz.py
!server/payloads/reversetcp_powershell.py
server/ressources/*
!server/ressources/.gitkeep
*.ccache
!server/ressources/Invoke-Mimikatz.ps1
*.pfx
!lib/sshscan/linpeas.sh
