# Byte-compiled / optimized / DLL files
config.cfg
__pycache__/
**.py[cod]
*$py.class
logs/**
screenshots/*.jpg
screenshots/*.png
server/uploads/*
server/files/*
server/payloads/*.py
server/ressources/*.dll
server/ressources/*.exe
server/ressources/*.ps1
