# Byte-compiled / optimized / DLL files
config.cfg
__pycache__/
**.py[cod]
*$py.class
screenshots/*.jpg
screenshots/*.png
server/uploads/*
server/files/*
server/payloads/*obfuscated*
server/ressources/*obfuscated*
