[Global]
session = Unknown

[Elasticsearch]
enabled = false
index = pentest
host = 127.0.0.1
port = 9200

[Server]
bind_ip = 0.0.0.0
enable_http = true
http_port = 8000
enable_smb = true

[Logging]
enabled = false
folder = logs/
