[Format]
time = %Y/%m/%d %H:%M:%S
# Generic formats with color depending on the message type (vuln, major...)
default    = [{{ time }}]     {{ color }}{{ message }}{{ reset }}
target     = [{{ time }}]     {{ color }}{{ "%-50s"|format(target) }} {{ message }}{{ reset }}
# Specific formats
http       = [{{ time }}]     {{ white }}{{ "%-50s"|format(target) }} {{ code }} ({{ content_type }})  {{ "%-40s"|format(server) }} {{ title }}{{ reset }}
dns        = [{{ time }}]     {{ white }}{{ "%-50s"|format(target) }} {{ "%-5s"|format(query_type) }}   {{ resolved }}{{ reset }}
dns_dc     = [{{ time }}]     {{ white }}Domain Controler:  {{ "%-50s"|format(hostname) }} {{ "%-30s"|format(domain) }} {{ ips }}{{ reset }}
port       = [{{ time }}]     {{ white }}{{ "%-50s"|format(target) }} {{ "%-30s"|format(service) }} {{ version }}{{ reset }}
smb        = [{{ time }}]     {{ white }}{{ "%-30s"|format(target) }} {{ "%-30s"|format(domain) }} {{ "%-30s"|format(hostname) }} {{ "%-30s"|format(server_os) }} Signed:{{ signing }} SMBv1:{{ smbv1 }}{{ reset }}
mssql      = [{{ time }}]     {{ white }}{{ "%-50s"|format(target) }} {{ version }}{{ reset }}
mysql      = [{{ time }}]     {{ white }}{{ "%-50s"|format(target) }} {{ version }}{{ reset }}
postgresql = [{{ time }}]     {{ white }}{{ "%-50s"|format(target) }} {{ version }}{{ reset }}
#default    = [{time}]     {color}{message}{reset}
#target     = [{time}]     {color}{target:50} {message}{reset}
#http       = [{time}]     {color}{target:50} {code} ({content-type})  {server:40} {title}{reset}
#dns        = [{time}]     {color}{target:50} {query_type:5}   {resolved}{reset}
#dns_dc     = [{time}]     {color}Domain Controler:  {hostname:50} {domain:30} {ips}{reset}
#port       = [{time}]     {color}{target:50} {service:30} {version}{reset}
#smb        = [{time}]     {color}{target:30} {domain:30} {hostname:30} {server_os:30} Signed:{signing} SMBv1:{smbv1}{reset}
#mssql      = [{time}]     {color}{target:50} {version}{reset}
#mysql      = [{time}]     {color}{target:50} {version}{reset}
#postgresql = [{time}]     {color}{target:50} {version}{reset}

[Color]
vuln = red
major = red
highlight = yellow
minor = blue
success = green
error = bold red
normal = white
