dnspython
gevent
requests
beautifulsoup4
pymongo
pyOpenSSL
ldap3
git+https://github.com/wbond/oscrypto.git
msldap
mysqlclient
mysql-connector
pycryptodome
netaddr
paramiko
tqdm
elasticsearch
git+https://github.com/fortra/impacket
pillow
psycopg2-binary
redis
pypsrp
chardet
gevent
twisted
ldaptor
opencv-python
socks
psutil
colorama
python-magic
certipy-ad
pysnmp
pysnmp-mibs
sslyze
gssapi
